.container{
    background-color: red;
    height: 600px;
    width: 600px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}
div button{
    height: 2rem;
    width: 6rem;
}
